.profile-image {
  margin-top: 10%;
  margin-bottom: 3.5rem;
}

.resize{
	width: 200px;
	height: 200px;
}

@media (max-width: 767px) {
  .profile-image {
    float: none !important;
    margin: 0 auto;
  }
 }